/* 이지데이 */
.ezday-sec .tab-area .tab {font-size: 18px; color: $lightblack_color;}
.ezday-sec .tab-area .tab ~ .tab {margin-left: 10px;}
.ezday-sec .tab-area .tab.on {font-weight: 700; color: #000;}
.ezday-sec .tab-head {display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;}
.ezday-sec .tab-head .more-btn {font-size: 14px; color: #000;}
.ezday-sec .daySwiper {height: 120px;}
.ezday-sec .daySwiper .swiper-slide {justify-content: center; width: auto !important;}
.ezday-sec .daySwiper .swiper-slide ~ .swiper-slide {margin-left: 10px;}
.ezday-sec .daySwiper .swiper-slide .img-box {width: 60px; height: 60px; border-radius: 8px; overflow: hidden;}
.ezday-sec .daySwiper .swiper-slide .img-box img {width: 100%; height: 100%; object-fit: cover;}
.ezday-sec .daySwiper .swiper-slide .txt-box .name {margin: 10px 0 4px; text-align: center;}
.ezday-sec .daySwiper .swiper-slide .txt-box .day {width: 20px; height: 18px; margin: 0 auto; font-size: 12px; text-align: center; color: #fff; border-radius: 5px; background: #44b6ae;}
.ezday-sec .daySwiper .swiper-slide .txt-box .birthday {font-size: 13px; color: $point_color;}

/* 이지스토리 */
.ezstory-sec .ezSwiper .swiper-slide {height: 250px; background: #f3f4f7; cursor: pointer;}
.ezstory-sec .ezSwiper .swiper-slide a {position: relative; display: inline-block; width: 100%; height: 100%;}
.ezstory-sec .ezSwiper .swiper-slide a .img-box {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.ezstory-sec .ezSwiper .swiper-slide a .img-box img {width: 100%; height: 100%; object-fit: cover;}
.ezstory-sec .ezSwiper .swiper-slide a .img-box::after {content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 70%; background: linear-gradient(to bottom, transparent, #000); opacity: .8;}
.ezstory-sec .ezSwiper .swiper-slide a .tit {position: absolute; bottom: 20px; left: 20px; font-size: 18px; font-weight: 700; color: #fff;}
.ezstory-sec .ezSwiper {padding-bottom: 30px;}
.ezstory-sec .ezSwiper .swiper-pagination {bottom: 0;}
.ezstory-sec .ezSwiper .swiper-pagination .swiper-pagination-bullet  {border-radius: 8px; background: $lightblack_color; transition: width .3s;}
.ezstory-sec .ezSwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active  {width: 30px; background: $point_color;}